extends layout

block content
  body(ng-app='F1FeederApp' ng-controller='driversController')
    table
      thead
        tr
          th(colspan='4') Drivers Championship Standings
      tbody
        tr(ng-repeat='driver in driversList')
          td {{$index + 1}}
          td
            img(src='img/flags/{{driver.Driver.nationality}}.png')
            |           {{driver.Driver.givenName}} {{driver.Driver.familyName}}
          td {{driver.Constructors[0].name}}
          td {{driver.points}}

   
      
